<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Pulsión - where the magic begins</title>
		<script type="text/javascript" src="/js/angular.min.js"></script>
		<script src="https://apis.google.com/js/api.js" ></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/general.css">
		<link rel="stylesheet" type="text/css" href="/css/mobile/general.css">
		<link rel="stylesheet" type="text/css" href="/css/musico.css">
		<link rel="stylesheet" type="text/css" href="/css/mobile/musico.css">
	</head>
	<body ng-controller="mainCtrl">
		<div ng-include="'/templates/nav.html'"></div>
		<div id="musicianName">
			<h1 class="fondo-marroncito">{{musico.nombre}}</h1>
			<div id="musicianInstrument" class="fondo-ocre">{{musico.instrumento}}</div>
		</div>
		<div id="musicianData" class="clearfix">
			<div class="left">
				<div id="avatar" style="background-image: url('{{avatar musico.avatar}}');"></div>
				<a href="#bio">Biografía</a>
				<div id="redes">
					{{redes musico.redes}}
				</div>
			</div>
			<div class="right">
				<ul>
					<li><label>Bandas: </label>{{#each musico.bandas}}<a href="http://{{link}}">{{nombre}}</a>{{#unless @last}}, {{/unless}}{{/each}}</li>
					<li><label>Barrio: </label>{{musico.barrio}}</li>
					<li><label>Géneros: </label>{{#each musico.generos}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</li>
					<li><label>Edad: </label>{{age musico.edad}}</li>
					<li class="influencias">
						<label>Influencias: </label>
						{{#each musico.influencias}}<a href="http://{{link}}">{{nombre}}</a>{{#unless @last}}, {{/unless}}{{/each}}
					</li>
					<li class="compañeros">
						<label>Tocó en Pulsión con: </label>
						{{#each musico.partners}}<a href="/musico/{{_id}}">{{nombre}}</a>{{#unless @last}}, {{/unless}}{{/each}}
					</li>
				</ul>
			</div>
		</div>
		<div id="videoList">
			{{#each musico.videos}}
			<a href="/video/{{_id}}"><li class="videoThumb" set-thumb="{{link}}"><div class="videoData"><img src="/images/logoThumb.svg"><div href="" class="text"><h2>Tal Zapada</h2><h3>Tal Pulsion</h3></div></div></li></a>{{/each}}
		</div>
		<div id="bio">
			<h2>Bio</h2><p>{{musico.bio}}</p>
		</div>
	</body>
</html>