<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Pulsión - where the magic begins</title>
		<script type="text/javascript" src="/js/angular.min.js"></script>
		<script src="https://apis.google.com/js/api.js" ></script>
		<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/general.css">
		<link rel="stylesheet" type="text/css" href="/css/mobile/general.css">
		<link rel="stylesheet" type="text/css" href="/css/video.css">
		<link rel="stylesheet" type="text/css" href="/css/mobile/video.css">
	</head>
	<body ng-controller="mainCtrl">
	{{log video}}
		<div ng-include="'/templates/nav.html'"></div>
		<div id="video" set-player={{video.link}}>
			<div id="player"></div>
			<div id="controls">
				<button id="resumeBtn" class="playbackBtn"></button>
				<button id="pauseBtn" class="playbackBtn"></button>
				<button id="fsBtn" class="playbackBtn"></button>
			</div>
			<button id="playBtn" class="playbackBtn"></button>
			<div id="social">
				<button id="shareBtn" class="playbackBtn"></button>
				<button id="musicosBtn" toggler="show" target="#videoInfo" class="playbackBtn"></button>
			</div>
			<div id="videoInfo" class="videoData">
				<img src="/images/logoVideoLanding.svg">
				<div class="text">
					<h1 class="videoName">{{video.nombre}}</h1>
					<h1 class="videoFecha">{{nice-date video.fecha}}</h1>
					<h2>
						{{#each video.roles}}
							<a href="/musico/{{_id}}">{{nombre}} ({{instrumento}})</a>
						{{/each}}
					</h2>
					<h2>
						{{#each video.bandas}}
							<a href="">{{nombre}}</a>
						{{/each}}
					</h2>
				</div>
			</div>
		</div>
		<div id="genreBar">
			<span id="genre" class="fondo-marroncito">{{video.genero}}</span><!--
			--><span id="whatIsIt" class="fondo-ocre">
				<p>¿ Para vos que es ?</p>
				<select>
					<option>Bossa</option>
					<option>Rock</option>
					<option>Tango</option>
					<option>Salsa</option>
				</select>
			</span><!--
			--><span id="send" class="fondo-verdeonda"><button>Enviar</button></span>
		</div>
		<div id="description">
			<p>
				{{#if descripcion}}{{descripcion}}{{/if}}
			</p>
		</div>
		<div id="videoList" class="clearfix">
			<div class="left">
				<h2>Videos Relacionados</h2>
				<div class="videoContainer">
					{{#each video.relacionados}}<a href="/video/{{_id}}"><div class="video"><div class="videoThumb" set-thumb="{{link}}"><div class="videoData"><img src="/images/logoThumb.svg"><div class="text"><h2>{{nombre}}</h2><h3>{{genero}}</h3></div></div></div><div class="videoDesc"><p>{{descripcion}}</p></div></div></a>{{/each}}
				</div>
			</div>
			<div class="right">
				<h2>Videos de la misma pulsión</h2>
				<div class="videoContainer">
					{{#each video.mismaSede}}<a href="/video/{{_id}}"><div class="video"><div class="videoThumb" set-thumb="{{link}}"><div class="videoData"><img src="/images/logoThumb.svg"><div class="text"><h2>{{nombre}}</h2><h3>{{genero}}</h3></div></div></div><div class="videoDesc"><p>{{descripcion}}</p></div></div></a>{{/each}}
				</div>
			</div>
		</div>
	</body>
</html>